---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Banner from "../components/Banner.astro";
import AboutIWD from "../components/AboutIWD.astro";
import WTMProgram from "../components/WTMProgram.astro";
import GDG from "../components/GDG.astro";
---

<Layout title="IWD Cochabamba 2024">
  <main>
    <Menu />
    <Banner />
    <AboutIWD />
    <WTMProgram />
    <GDG>
  </main>
</Layout>

<style></style>
