---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
<<<<<<< HEAD
import Footer from "../components/Footer.astro";
=======
import Banner from "../components/Banner.astro";
import AboutIWD from "../components/AboutIWD.astro";
>>>>>>> 20b061256330678becfefa9b58c76b08f1203a95
---

<Layout title="IWD Cochabamba 2024">
  <main>
    <Menu />
<<<<<<< HEAD
    <Footer />
=======
    <Banner />
    <AboutIWD />
>>>>>>> 20b061256330678becfefa9b58c76b08f1203a95
  </main>
</Layout>

<style></style>
