---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Banner from "../components/Banner.astro";
import AboutWinayTech from "../components/AboutWinayTech.astro";
import WTMProgram from "../components/WTMProgram.astro";
import GDGProgram from "../components/GDGProgram.astro";
import Footer from "../components/Footer.astro";
import Communities from "../components/Communities.astro";
import CallForSpeakers from "../components/CallForSpeakers.astro";
// import WTMAmbassadors from "../components/WTMAmbassadors.astro";
// import Speakers from "../components/Speakers.astro";
// import Sponsors from "../components/Sponsors.astro";
---

<Layout title="IWD Cochabamba 2024">
  <main>
    <Menu />
    <Banner />
    <AboutWinayTech />
    <!--<WTMProgram />-->
    <CallForSpeakers />
    <!--<WTMAmbassadors />-->
    <GDGProgram />
    <!--<Speakers/>-->
    <Communities />
    <!--<Sponsors/>-->
    <Footer />
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Google Sans";
    src: url("../assets/fonts/GoogleSansDisplay-Regular.ttf") format("truetype");
  }

  body {
    font-family: "Google Sans", sans-serif;
  }
</style>
