---
import { Image } from "astro:assets";
import bannerTile from "../assets/images/banner.svg";
---

<article>
  <div
    class="banner aspect-ratio-13/5 relative mt-10 flex w-full bg-contain bg-center bg-no-repeat md:mt-8 lg:mt-4 xl:mt-0"
  >
    <div class="text-center">
      <Image src={bannerTile} alt="banner image" class="m-auto" />
      <p class="flex-grow-0 flex-shrink-0 w-[804px] text-[22px] text-center text-[#4c555b] mt-5 mb-5">
        Un día de charlas inspiradoras, talleres y oportunidades de networking
        mientras exploramos cómo redefinir lo que es posible en el mundo de la
        tecnología.
      </p>
      <div id="registerButtonContainer">
        <a
          href="https://events.gdg.com.bo/winay-tech-2025"
          class="inline-block w-full rounded-lg px-4 py-2 text-xl font-medium text-white lg:w-1/4 bg-[#0f7c67]"
          >Inscríbete aquí</a>
      </div>
    </div>
  </div>
</article>

<style>
  .banner {
    aspect-ratio: 13/5;
    position: relative;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  let registerButtonContainer = document.getElementById(
    "registerButtonContainer",
  );

  let showRegisterButton = true;

  if (!showRegisterButton && registerButtonContainer !== null) {
    registerButtonContainer.style.display = "none";
  }
</script>
