---
import { Image } from "astro:assets";
import Speakers from "../assets/images/Speakers.svg";
---

<div
  class="flex w-full flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-2.5 bg-white px-6 py-20"
>
  <div
    class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch"
  >
    <div
      class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start self-stretch"
    >
      <p
        class="w-full flex-shrink-0 flex-grow-0 self-stretch text-center text-[40px] text-[#1a3e38]"
      >
        Charlas y speakers
      </p>
    </div>
    <Image src={Speakers} alt="Speakers" />
    <div
      class="flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch"
    >
      <div
        class="flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-6 self-stretch"
      >
        <div
          class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-1 self-stretch"
        >
          <p
            class="flex-shrink-0 flex-grow-0 text-center text-[22px] font-bold text-[#1a3e38]"
          >
            ¿Tienes una historia, experiencia o conocimiento que pueda inspirar
            a otras mujeres?
          </p>
          <p
            class="w-full flex-shrink-0 flex-grow-0 self-stretch text-center text-[22px] text-[#1a3e38]"
          >
            <span
              class="w-full flex-shrink-0 flex-grow-0 self-stretch text-center text-[22px] text-[#1a3e38]"
              >Si te apasiona compartir tu experiencia y motivar a otras
              personas, ¡esta es tu oportunidad!
            </span><br /><span
              class="w-full flex-shrink-0 flex-grow-0 self-stretch text-center text-[22px] text-[#1a3e38]"
              >💜 Postula ahora y sé parte de esta experiencia única.</span
            ><br />
          </p>
        </div>
        <div
          class="relative flex flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 rounded-lg bg-[#2480f0] px-[22px] py-2"
          id="registerButtonContainer"
        >
          <a
            href="https://forms.gle/sEmB7ekuhRrXaAcQ7"
            class="flex-shrink-0 flex-grow-0 text-center text-xl font-medium text-white"
            target="_blank"
            rel="noopener"
          >
            Postular como Speaker
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let registerButtonContainer = document.getElementById(
    "registerButtonContainer",
  );

  let showRegisterButton = true;

  if (!showRegisterButton && registerButtonContainer !== null) {
    registerButtonContainer.style.display = "none";
  }
</script>
