<article>
  <div class="event-info md:-mt-6 lg:-mt-12">
    <div class="container mx-auto p-4">
      <div class="-mx-2 flex flex-wrap">
        <div class="w-full px-2 md:w-2/3 lg:w-1/2">
          <div class="text-center md:text-left">
            <h2
              class="mb-1 text-xl font-extrabold text-blue-600 sm:mb-3 sm:text-2xl"
            >
              Call for Speakers
            </h2>
            <p class="mb-2 text-xl font-bold md:text-2xl">¿Tienes una historia, experiencia o conocimiento que pueda inspirar a otras mujeres? 💡✨</p>
            <span class="text-md mt-2 md:text-lg"
            >Estamos buscando speakers para el Wiñay Tech para este 15 de marzo. Si te apasiona compartir tu experiencia y motivar a otras personas, ¡esta es tu oportunidad!

              💜 Postula ahora y sé parte de esta experiencia única.</span>
          </div>
        </div>
        <div
          class="mt-4 flex w-full items-center justify-center px-2 md:mt-0 md:w-1/3 lg:w-1/2"
          id="registerButtonContainer"
        >
          <a
            href="https://forms.gle/sEmB7ekuhRrXaAcQ7"
            class="inline-block w-full rounded-lg bg-blue-500 px-4 py-2 text-center font-bold uppercase text-white hover:bg-blue-700 lg:w-1/2"
            target="_blank"
            rel="noopener"
          >
            Formulario de postulación
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

<style>
    .event-info {
        background-color: #d1ece3;
    }
</style>

<script>
  let registerButtonContainer = document.getElementById('registerButtonContainer');

  let showRegisterButton = true;

  if (!showRegisterButton && registerButtonContainer !== null) {
    registerButtonContainer.style.display = 'none';
  }
</script>
