---
import { Image } from "astro:assets";
import Ada from "../assets/images/community organizers/ada.png";
import GDGCocha from "../assets/images/community organizers/gdg-cocha.png";
// import MujeresTics from "../assets/images/community organizers/mujeres-tics.png";
// import Notion from "../assets/images/community organizers/notion.png";
// import Pyladies from "../assets/images/community organizers/pyladies.png";
// import WtmCocha from "../assets/images/community organizers/wtm-cocha.png";
// import GEGCocha from "../assets/images/community organizers/GEG-cocha.png";
// import AngularBolivia from "../assets/images/community organizers/angular-bolivia.png";
import GP4Tech from "../assets/images/community organizers/gp4tech.png";
---

<section class="px-6 py-20 md:px-10">
  <h2 class="text-center text-3xl font-medium leading-normal text-[black]">
    Comunidades Organizadoras
  </h2>
  <p class="text-center font-light">
    Descubre todas las comunidades que forman parte de la organización del
    evento
  </p>
  <div
    class="mt-14 grid grid-cols-2 items-center justify-around gap-5 sm:grid-cols-3 lg:grid-cols-3"
  >
    <a
      href="https://www.facebook.com/adaindatabo"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={Ada}
        alt="Ada In Data Logo"
        loading="lazy"
        class="m-auto mb-5 w-20"
      />
    </a>
    <a
      href="https://www.facebook.com/GDGCochabamba "
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GDGCocha}
        alt="GDG Cochabamba logo"
        loading="lazy"
        class="m-auto mb-5 w-28 sm:w-40"
      />
    </a>
    <a
      href="https://www.facebook.com/GP4TechJala"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GP4Tech}
        alt="gp4tech logo"
        loading="lazy"
        class="m-auto mb-5 w-24"
      />
    </a>
  </div>
</section>
