---
import { Image } from "astro:assets";
import Ada from "../assets/images/community organizers/ada.png";
import GDGCocha from "../assets/images/community organizers/gdg-cocha.png";
import GP4Tech from "../assets/images/community organizers/gp4tech.png";
import Mujeres from "../assets/images/community organizers/mujeres-que-inspiran.png";
---

<section class="px-6 py-20 md:px-10">
  <h2 class="text-center text-3xl font-medium leading-normal text-[black]">
    Comunidades Organizadoras
  </h2>
  <p class="text-center font-light">
    Descubre todas las comunidades que forman parte de la organización del
    evento
  </p>
  <div
    class="mt-14 grid xs:grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-around gap-5"
  >
    <a
      href="https://www.facebook.com/adaindatabo"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={Ada}
        alt="Ada In Data Logo"
        class="m-auto mb-5 w-20"
        loading="lazy"
      />
    </a>
    <a
      href="https://www.facebook.com/GDGCochabamba "
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GDGCocha}
        alt="GDG Cochabamba logo"
        class="m-auto mb-5 w-28 sm:w-40"
        loading="lazy"
      />
    </a>
    <a
      href="https://www.facebook.com/GP4TechJala"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GP4Tech}
        alt="GP4Tech logo"
        class="m-auto mb-5 w-24"
        loading="lazy"
      />
    </a>
    <a
      href="https://www.facebook.com/mujeresqueinspiranBolivia/"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={Mujeres}
        alt="Mujeres que Inspiran logo"
        class="m-auto mb-5 w-24"
        loading="lazy"
      />
    </a>
  </div>
</section>