---
import { Image } from "astro:assets";
import Ada from "../assets/images/community organizers/ada.png";
import GDGCocha from "../assets/images/community organizers/gdg-cocha.png";
import GP4Tech from "../assets/images/community organizers/gp4tech.png";
import MQILogo from "../assets/images/community organizers/mqi.png";
---

<section
  class="flex w-full flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-8 bg-[#f9f9f9] px-6 py-[120px]"
>
  <div
    class="relative flex flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-1"
  >
    <p class="flex-shrink-0 flex-grow-0 text-center text-[40px] text-[#29292d]">
      Comunidades Organizadoras
    </p>
    <p class="flex-shrink-0 flex-grow-0 text-center text-[22px] text-[#4c555b]">
      Descubre todas las comunidades que forman parte de la organización del
      evento
    </p>
  </div>
  <div
    class="relative flex flex-shrink-0 flex-grow-0 items-start justify-start gap-8"
  >
    <a
      href="https://www.facebook.com/adaindatabo"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={Ada}
        alt="Ada In Data Logo"
        loading="lazy"
        class="m-auto mb-5 h-40 w-40 flex-shrink-0 flex-grow-0 rounded-xl border object-contain"
      />
    </a>
    <a
      href="https://www.facebook.com/GDGCochabamba "
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GDGCocha}
        alt="GDG Cochabamba logo"
        loading="lazy"
        class="m-auto mb-5 h-40 w-40 flex-shrink-0 flex-grow-0 rounded-xl border object-contain"
      />
    </a>
    <a
      href="https://www.facebook.com/GP4TechJala"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GP4Tech}
        alt="gp4tech logo"
        loading="lazy"
        class="m-auto mb-5 h-40 w-40 flex-shrink-0 flex-grow-0 rounded-xl border object-contain"
      />
    </a>
    <a
      href="https://www.facebook.com/mujeresqueinspiranBolivia/"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={MQILogo}
        alt="mqi logo"
        loading="lazy"
        class="m-auto mb-5 h-40 w-40 flex-shrink-0 flex-grow-0 rounded-xl border object-contain"
      />
    </a>
  </div>
</section>
