---
import { Image } from "astro:assets";
import Calendar from "../assets/images/calendar.svg";
import Clock from "../assets/images/clock.svg";
import Location from "../assets/images/location.svg";
---

<div class="event-info-container">
  <div class="card">
    <Image src={Calendar} alt="Calendar icon" />
    <div class="text-detail-container">
      <p
        class="w-36 flex-shrink-0 flex-grow-0 text-left text-sm text-[#4c555b]"
      >
        Fecha:
      </p>
      <p
        class="flex-shrink-0 flex-grow-0 text-left text-[22px] font-bold text-[#2480f0]"
      >
        15 de Marzo
      </p>
    </div>
  </div>

  <div class="card">
    <Image src={Clock} alt="Clock" />
    <div class="text-detail-container">
      <p
        class="w-36 flex-shrink-0 flex-grow-0 text-left text-sm text-[#4c555b]"
      >
        Hora:
      </p>
      <p
        class="w-36 flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] font-bold text-[#2480f0]"
      >
        9:00 AM
      </p>
    </div>
  </div>

  <div class="card">
    <Image src={Location} alt="location icon" />
    <div class="text-detail-container">
      <p
        class="w-36 flex-shrink-0 flex-grow-0 text-left text-sm text-[#4c555b]"
      >
        Lugar:
      </p>
      <p
        class="flex-shrink-0 flex-grow-0 text-left text-[22px] font-bold text-[#2480f0]"
      >
        Jalasoft
      </p>
      <p
        class="w-36 flex-shrink-0 flex-grow-0 text-left text-xs text-[#4c555b]"
      >
        Av. Melchor Pérez de Olguín 2643
      </p>
    </div>
  </div>
</div>

<style>
  .event-info-container {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    align-self: stretch;
    background: #d1ece3;
    padding: 2.5rem 1.5rem;
  }

  .card {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    height: 110px;
    flex-shrink: 0;
  }

  .text-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.25rem;
  }

  @media (max-width: 730px) {
    .event-info-container {
      padding: 2.5rem 3rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
</style>
