<!-- footer.astro -->
<footer>
    <div class="container">
        <p>Siguenos e nuestras redes sociales</p>
        <p>No te pierdas las ultimas noicias y actualizaciones</p>
        <ul class="social-icons">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-youtube"></i></li>
        </ul>
    </div>
    <style>
        div {
          background: #c1e4fd;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    </style>
</footer>
