---
import { Image } from "astro:assets";
import gdgLogo from "../assets/images/gdg-logo.png";
import gdgImage from "../assets/images/gdg-image.png";
---

<div
  class="flex w-full flex-col items-center justify-start bg-[#f9f9f9] px-6 py-[120px]"
>
  <div
    class="flex w-[1024px] flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-10"
  >
    <div
      class="flex flex-shrink-0 flex-grow-0 items-start justify-center gap-8 self-stretch"
    >
      <div class="flex flex-grow flex-col items-center justify-start gap-12">
        <div
          class="relative flex flex-shrink-0 flex-grow-0 items-start justify-center gap-12 self-stretch"
        >
          <Image
            src={gdgImage}
            alt="gdgImage"
            class="h-[379px] w-[512px] flex-shrink-0 flex-grow-0 rounded-2xl object-cover"
          />
          <div
            class="relative flex flex-grow flex-col items-start justify-start gap-6"
          >
            <Image
              src={gdgLogo}
              alt="GDG Cochabamba"
              class="h-[34px] w-[400px] flex-shrink-0 flex-grow-0 object-contain"
            />
            <p
              class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
            >
              <span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
                >La comunidad
              </span><span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] font-bold text-[#4c555b]"
                >Google Developer Group Cochabamba</span
              ><span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
              >
                te da la oportunidad de aprender nuevas habilidades en una
                variedad de formatos. También conocerás a desarrolladores
                locales de forma virtual o en persona con intereses similares en
                tecnología.
              </span><br />
            </p>
            <div
              class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-10 self-stretch"
            >
              <svg
                width="40"
                height="41"
                viewBox="0 0 40 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="relative h-10 w-10 flex-shrink-0 flex-grow-0"
                preserveAspectRatio="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.9362 1.18262C23.542 1.22376 26.7994 2.10994 29.7085 3.84116C32.5829 5.53781 34.974 7.94352 36.6531 10.8282C38.3738 13.7549 39.2546 17.032 39.2956 20.6597C39.1935 25.6232 37.6279 29.8626 34.599 33.3778C31.5701 36.8929 27.6908 39.0676 23.675 39.9013V25.985H27.4716L28.3302 20.5163H22.5813V16.9344C22.5493 16.1919 22.7842 15.4624 23.2433 14.8779C23.7031 14.2918 24.5127 13.9838 25.6722 13.9538H29.1438V9.1633C29.094 9.14727 28.6213 9.0839 27.7258 8.97317C26.7102 8.85434 25.6889 8.79088 24.6664 8.78305C22.3522 8.79372 20.522 9.44652 19.1757 10.7414C17.8294 12.036 17.1417 13.9089 17.1125 16.3603V20.5163H12.7375V25.985H17.1125V39.9013C12.1817 39.0676 8.30239 36.8929 5.27348 33.3778C2.24458 29.8626 0.679107 25.6232 0.576904 20.6597C0.617795 17.0319 1.49862 13.7547 3.21937 10.8282C4.8985 7.94352 7.2896 5.53781 10.164 3.84116C13.0731 2.11028 16.3305 1.2241 19.9362 1.18262Z"
                  fill="#4C555B"></path></svg
              ><svg
                width="40"
                height="41"
                viewBox="0 0 40 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="relative h-10 w-10 flex-shrink-0 flex-grow-0"
                preserveAspectRatio="none"
              >
                <g clip-path="url(#clip0_540_7281)">
                  <path
                    d="M23.8281 20.5764C23.8281 22.6907 22.1143 24.4045 20 24.4045C17.8857 24.4045 16.1719 22.6907 16.1719 20.5764C16.1719 18.4622 17.8857 16.7483 20 16.7483C22.1143 16.7483 23.8281 18.4622 23.8281 20.5764Z"
                    fill="#4C555B"></path>
                  <path
                    d="M28.9526 13.8033C28.7686 13.3046 28.475 12.8533 28.0936 12.4828C27.7231 12.1013 27.272 11.8077 26.7731 11.6237C26.3684 11.4666 25.7605 11.2795 24.6408 11.2285C23.4296 11.1733 23.0664 11.1614 20 11.1614C16.9333 11.1614 16.5701 11.173 15.3592 11.2282C14.2395 11.2795 13.6313 11.4666 13.2269 11.6237C12.728 11.8077 12.2766 12.1013 11.9064 12.4828C11.525 12.8533 11.2314 13.3043 11.0471 13.8033C10.8899 14.2079 10.7028 14.8162 10.6519 15.9359C10.5966 17.1468 10.5847 17.5099 10.5847 20.5767C10.5847 23.6431 10.5966 24.0062 10.6519 25.2175C10.7028 26.3372 10.8899 26.9451 11.0471 27.3497C11.2314 27.8487 11.5247 28.2997 11.9061 28.6702C12.2766 29.0517 12.7277 29.3453 13.2266 29.5293C13.6313 29.6868 14.2395 29.8738 15.3592 29.9248C16.5701 29.98 16.933 29.9916 19.9997 29.9916C23.0667 29.9916 23.4299 29.98 24.6405 29.9248C25.7602 29.8738 26.3684 29.6868 26.7731 29.5293C27.7747 29.1429 28.5663 28.3513 28.9526 27.3497C29.1098 26.9451 29.2969 26.3372 29.3481 25.2175C29.4034 24.0062 29.415 23.6431 29.415 20.5767C29.415 17.5099 29.4034 17.1468 29.3481 15.9359C29.2972 14.8162 29.1101 14.2079 28.9526 13.8033ZM20 26.4736C16.7429 26.4736 14.1025 23.8335 14.1025 20.5764C14.1025 17.3192 16.7429 14.6791 20 14.6791C23.2568 14.6791 25.8972 17.3192 25.8972 20.5764C25.8972 23.8335 23.2568 26.4736 20 26.4736ZM26.1304 15.8242C25.3693 15.8242 24.7522 15.2071 24.7522 14.446C24.7522 13.6849 25.3693 13.0678 26.1304 13.0678C26.8915 13.0678 27.5085 13.6849 27.5085 14.446C27.5082 15.2071 26.8915 15.8242 26.1304 15.8242Z"
                    fill="#4C555B"></path>
                  <path
                    d="M20 0.576416C8.95599 0.576416 0 9.53241 0 20.5764C0 31.6204 8.95599 40.5764 20 40.5764C31.044 40.5764 40 31.6204 40 20.5764C40 9.53241 31.044 0.576416 20 0.576416ZM31.4151 25.3112C31.3596 26.5338 31.1652 27.3684 30.8813 28.099C30.2847 29.6417 29.0652 30.8611 27.5226 31.4578C26.7923 31.7416 25.9573 31.9357 24.7351 31.9915C23.5104 32.0474 23.1192 32.0608 20.0003 32.0608C16.8811 32.0608 16.4902 32.0474 15.2652 31.9915C14.043 31.9357 13.208 31.7416 12.4777 31.4578C11.7111 31.1694 11.0172 30.7174 10.4434 30.133C9.85931 29.5596 9.40735 28.8653 9.11896 28.099C8.83514 27.3687 8.64075 26.5338 8.58521 25.3115C8.52875 24.0865 8.51562 23.6953 8.51562 20.5764C8.51562 17.4575 8.52875 17.0663 8.5849 15.8416C8.64044 14.6191 8.83453 13.7844 9.11835 13.0538C9.40674 12.2875 9.85901 11.5933 10.4434 11.0198C11.0168 10.4354 11.7111 9.98346 12.4774 9.69507C13.208 9.41125 14.0427 9.21716 15.2652 9.16132C16.4899 9.10547 16.8811 9.09204 20 9.09204C23.1189 9.09204 23.5101 9.10547 24.7348 9.16162C25.9573 9.21716 26.792 9.41125 27.5226 9.69476C28.2889 9.98315 28.9832 10.4354 29.5569 11.0198C30.141 11.5936 30.5933 12.2875 30.8813 13.0538C31.1655 13.7844 31.3596 14.6191 31.4154 15.8416C31.4713 17.0663 31.4844 17.4575 31.4844 20.5764C31.4844 23.6953 31.4713 24.0865 31.4151 25.3112Z"
                    fill="#4C555B"></path>
                </g>
                <defs>
                  <clipPath id="clip0_540_7281">
                    <rect
                      width="40"
                      height="40"
                      fill="white"
                      transform="translate(0 0.576416)"></rect>
                  </clipPath>
                </defs></svg
              ><svg
                width="40"
                height="41"
                viewBox="0 0 40 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="relative h-10 w-10 flex-shrink-0 flex-grow-0"
                preserveAspectRatio="none"
              >
                <g clip-path="url(#clip0_540_7287)">
                  <path
                    d="M20 0.576416C8.95599 0.576416 0 9.53241 0 20.5764C0 31.6204 8.95599 40.5764 20 40.5764C31.044 40.5764 40 31.6204 40 20.5764C40 9.53241 31.044 0.576416 20 0.576416ZM14.1882 30.8108H9.31732V16.1566H14.1882V30.8108ZM11.7529 14.1555H11.7212C10.0867 14.1555 9.02954 13.0303 9.02954 11.6241C9.02954 10.1861 10.119 9.09204 11.7853 9.09204C13.4515 9.09204 14.4769 10.1861 14.5087 11.6241C14.5087 13.0303 13.4515 14.1555 11.7529 14.1555ZM31.7517 30.8108H26.8814V22.9711C26.8814 21.0009 26.1761 19.6572 24.4138 19.6572C23.0682 19.6572 22.2668 20.5636 21.9147 21.4385C21.7859 21.7516 21.7545 22.1893 21.7545 22.6272V30.8108H16.8839C16.8839 30.8108 16.9476 17.5314 16.8839 16.1566H21.7545V18.2314C22.4017 17.2329 23.5599 15.8126 26.1441 15.8126C29.3488 15.8126 31.7517 17.907 31.7517 22.4081V30.8108Z"
                    fill="#4C555B"></path>
                </g>
                <defs>
                  <clipPath id="clip0_540_7287">
                    <rect
                      width="40"
                      height="40"
                      fill="white"
                      transform="translate(0 0.576416)"></rect>
                  </clipPath>
                </defs></svg
              ><svg
                width="40"
                height="41"
                viewBox="0 0 40 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="relative h-10 w-10 flex-shrink-0 flex-grow-0"
                preserveAspectRatio="none"
              >
                <g clip-path="url(#clip0_540_7289)">
                  <path
                    d="M20 0.576416C8.95601 0.576416 0 9.53243 0 20.5764C0 31.6204 8.95601 40.5764 20 40.5764C31.044 40.5764 40 31.6204 40 20.5764C40 9.53243 31.044 0.576416 20 0.576416ZM30.0336 15.879V18.587C28.7566 18.5875 27.5159 18.3373 26.3458 17.8436C25.5934 17.5259 24.8923 17.1167 24.2512 16.622L24.2704 24.9574C24.2623 26.8344 23.5198 28.5979 22.1758 29.9263C21.082 31.0075 19.6961 31.6951 18.1939 31.9177C17.8409 31.9699 17.4817 31.9967 17.1184 31.9967C15.5104 31.9967 13.9838 31.4758 12.7349 30.5147C12.4999 30.3338 12.2752 30.1376 12.0612 29.9263C10.6046 28.4867 9.85352 26.5356 9.98 24.483C10.0765 22.9206 10.702 21.4305 11.7448 20.2626C13.1245 18.7171 15.0547 17.8593 17.1184 17.8593C17.4817 17.8593 17.8409 17.8866 18.1939 17.9388V18.9401V21.7254C17.8592 21.615 17.5018 21.5543 17.1296 21.5543C15.2441 21.5543 13.7188 23.0926 13.747 24.9795C13.7648 26.1867 14.4243 27.242 15.397 27.8238C15.8541 28.0972 16.3799 28.2666 16.9411 28.2974C17.3808 28.3215 17.803 28.2602 18.1939 28.1312C19.541 27.6862 20.5128 26.4209 20.5128 24.9285L20.5173 19.3467V9.1561H24.2466C24.2502 9.52563 24.2877 9.88618 24.3574 10.2356C24.6389 11.6497 25.436 12.8766 26.5454 13.713C27.5127 14.4426 28.7173 14.8751 30.0228 14.8751C30.0237 14.8751 30.0345 14.8751 30.0335 14.8742V15.879H30.0336Z"
                    fill="#4C555B"></path>
                </g>
                <defs>
                  <clipPath id="clip0_540_7289">
                    <rect
                      width="40"
                      height="40"
                      fill="white"
                      transform="translate(0 0.576416)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
