<div
  class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-6 py-20 bg-white"
>
  <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 w-[1024px] gap-12">
    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-[1024px] text-[40px] text-center text-[#202124]"
      >
        Nuestro increíble equipo organizador
      </p>
      <p class="flex-grow-0 flex-shrink-0 w-[846px] text-[22px] text-center text-[#4c555b]">
        Conoce a las personas detrás de la organización del evento. Están trabajando arduamente para
        brindarle una experiencia inolvidable.
      </p>
    </div>
    <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-6">
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Vania Catorceno
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Web Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#f6b918]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              GDG Organizer
            </p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#00dba2]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              WTM Ambassador
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-2.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Griss Garcia
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Web Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#f6b918]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              GDG Organizer
            </p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#00dba2]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              WTM Ambassador
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-3.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Brian Vega
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#f6b918]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              GDG Organizer
            </p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-4.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Mauricio ArceTorrez
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#f6b918]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              GDG Organizer
            </p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-5.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Angel Flores
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <p class="flex-grow-0 flex-shrink-0 text-sm text-left text-[#f6b918]">􀋃</p>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">
              GDG Organizer
            </p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#FE7F61"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Logistica</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-6">
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Dayana Stefka Ledezma Bohorquez
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Ing de Sistemas
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#47B4FD"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Diseño</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-2.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Karen Lizbeth Torrico Conde
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#70D981"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Marketing</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-3.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Adriana Tarquino
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-6.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Esther Romero Aguilar
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#63DDD0"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Decoración</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-5.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Paola Ramirez Arrazola
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#9359FF"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Lead</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#F6B918"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Video</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-6">
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Dayana Stefka Ledezma Bohorquez
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Ing de Sistemas
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#47B4FD"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Diseño</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-2.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Karen Lizbeth Torrico Conde
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#70D981"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Marketing</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-3.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Adriana Tarquino
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-6.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Esther Romero Aguilar
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#63DDD0"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Decoración</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-5.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Paola Ramirez Arrazola
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#9359FF"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Lead</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#F6B918"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Video</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-6">
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Dayana Stefka Ledezma Bohorquez
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Ing de Sistemas
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#47B4FD"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Diseño</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-2.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Karen Lizbeth Torrico Conde
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#70D981"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Marketing</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-3.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Adriana Tarquino
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-6.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Esther Romero Aguilar
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#63DDD0"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Decoración</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-5.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Paola Ramirez Arrazola
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#9359FF"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Lead</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#F6B918"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Video</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-6">
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Dayana Stefka Ledezma Bohorquez
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Ing de Sistemas
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7" cy="7.57642" r="7" fill="#47B4FD"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Diseño</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-2.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Karen Lizbeth Torrico Conde
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.6001" cy="7.57642" r="7" fill="#70D981"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Marketing</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-3.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Adriana Tarquino
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.19995" cy="7.57642" r="7" fill="#FC53C9"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Desarrollo</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-6.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Esther Romero Aguilar
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Mobile Developer
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#1A3E38"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Staff</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.80005" cy="7.57642" r="7" fill="#63DDD0"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Decoración</p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between items-center flex-grow h-64 relative pt-6 rounded-lg bg-white border border-[#dadce0]"
      >
        <img class="flex-grow-0 flex-shrink-0" src="ellipse-1-5.png" />
        <div class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 relative">
          <p
            class="self-stretch flex-grow-0 flex-shrink-0 w-52 text-base font-bold text-center text-[#202124]"
          >
            Paola Ramirez Arrazola
          </p>
          <p class="flex-grow-0 flex-shrink-0 w-52 text-base text-center text-[#727272]">
            Descripcion
          </p>
        </div>
        <div
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-2.5 px-4 py-6 rounded-bl-lg rounded-br-lg bg-[#f9f9f9] border border-[#dadce0]"
        >
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#9359FF"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Lead</p>
          </div>
          <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-1">
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="flex-grow-0 flex-shrink-0"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="7.3999" cy="7.57642" r="7" fill="#F6B918"></circle>
            </svg>
            <p class="flex-grow-0 flex-shrink-0 text-sm text-center text-[#4c555b]">Video</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
