---
import { Image } from "astro:assets";
import megafono from "../assets/images/megafono.png";
import telefono from "../assets/images/telefono.png";
import laptop from "../assets/images/laptop.png";
import papelLapiz from "../assets/images/papel-lapiz.png";
---

<div
  class="flex w-full flex-shrink-0 flex-grow-0 flex-col items-center justify-start gap-2.5 bg-[#d1ece3] py-[120px]"
>
  <div
    class="relative flex w-[1024px] flex-shrink-0 flex-grow-0 items-center justify-start gap-6"
  >
    <div class="flex-grow self-stretch">
      <Image
        src={megafono}
        alt="Megafono"
        class="absolute left-[-0.5px] top-[-0.5px] h-[171px] w-[250px] object-contain"
      /><Image
        src={telefono}
        alt="Telefono"
        class="absolute left-[249.5px] top-[-0.5px] h-[171px] w-[250px] object-contain"
      /><Image
        src={laptop}
        alt="Laptop"
        class="absolute left-[249.5px] top-[170.5px] h-[171px] w-[250px] object-contain"
      /><Image
        src={papelLapiz}
        alt="Papel Lapiz"
        class="absolute left-[-0.5px] top-[170.5px] h-[171px] w-[250px] object-contain"
      />
    </div>
    <div class="h-[342px] flex-grow">
      <div
        class="absolute left-[524px] top-0 flex w-[500px] flex-col items-start justify-start gap-4"
      >
        <div
          class="flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start gap-6 self-stretch"
        >
          <div
            class="relative flex flex-shrink-0 flex-grow-0 flex-col items-start justify-start self-stretch"
          >
            <p
              class="w-[500px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[40px] text-[#29292d]"
            >
              <span
                class="w-[500px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[40px] text-[#29292d]"
                >Programa
              </span><br /><span
                class="w-[500px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[40px] text-[#29292d]"
                >WTM Ambassadors</span
              >
            </p>
            <p
              class="w-[500px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
            >
              El programa Women Techmakers de Google brinda visibilidad,
              comunidad y recursos para mujeres en la tecnología. Empodera a las
              mujeres en sus carreras al brindarles acceso a recursos y eventos
              seleccionados, así como a información y herramientas de Google.
            </p>
          </div>
          <div
            class="relative flex h-12 flex-shrink-0 flex-grow-0 items-center justify-center gap-2.5 self-stretch rounded-[11px] bg-[#0f7c67] px-4 py-[11px]"
          >
            <a
              href="https://developers.google.com/womentechmakers/ambassadors"
              class="w-[468px] flex-grow text-center text-base font-bold uppercase text-[#fefefe]"
              target="_blank"
              rel="noopener"
            >
              Conocer Más sobre el PROGRAMA
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
