---
import { Image } from "astro:assets";
import wtmProgram from "../assets/images/wtm-ambassadors-program.svg";
---

<div class="wtm-program">
  <div class="container mx-auto px-4 py-8 sm:px-0 md:py-10">
    <div class="flex flex-row flex-col items-center sm:flex-row">
      <div class="w-full md:w-1/2 lg:w-2/6">
        <Image
          class="mx-auto h-auto w-3/4 rounded-lg md:w-2/3 xl:w-3/5"
          src={wtmProgram}
          alt="Programa WTM Ambassadors"
        />
      </div>
      <div class="w-full py-2 md:w-1/2 lg:w-3/6">
        <div class="">
          <h2 class="mb-4 text-2xl font-medium md:text-3xl">
            Programa<br />WTM Ambassadors
          </h2>
          <p class="text-md mt-2 md:text-lg">
            El programa Women Techmakers de Google brinda visibilidad, comunidad
            y recursos para mujeres en la tecnología. Empodera a las mujeres en
            sus carreras al brindarles acceso a recursos y eventos
            seleccionados, así como a información y herramientas de Google.
          </p>
          <a
            href="https://developers.google.com/womentechmakers/ambassadors"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4 inline-block rounded-md bg-blue-500 px-4 py-2 text-white"
            >APLICA AL PROGRAMA</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .wtm-program {
    background-color: #d1ece3;
    display: flex;
  }
</style>
